// @use "sass:string";

$icomoon-font-family: "rscn-font" !default;
$icomoon-font-path: "../../../public/fonts" !default;

$rs-x-icon: unquote('"\\e92a"');
$rs-bina-path1: unquote('"\\e928"');
$rs-bina-path2: unquote('"\\e929"');
$rs-ara: unquote('"\\e90b"');
$rs-egitim-path1: unquote('"\\e90c"');
$rs-egitim-path2: unquote('"\\e90d"');
$rs-egitim-path3: unquote('"\\e90e"');
$rs-egitim-path4: unquote('"\\e90f"');
$rs-egitim-path5: unquote('"\\e910"');
$rs-egitim-path6: unquote('"\\e911"');
$rs-ev: unquote('"\\e912"');
$rs-fuze-path1: unquote('"\\e913"');
$rs-fuze-path2: unquote('"\\e914"');
$rs-fuze-path3: unquote('"\\e915"');
$rs-grup-path1: unquote('"\\e916"');
$rs-grup-path2: unquote('"\\e917"');
$rs-grup-path3: unquote('"\\e918"');
$rs-grup-path4: unquote('"\\e919"');
$rs-grup-path5: unquote('"\\e91a"');
$rs-grup-path6: unquote('"\\e91b"');
$rs-harita-path1: unquote('"\\e91c"');
$rs-harita-path2: unquote('"\\e91d"');
$rs-harita-path3: unquote('"\\e91e"');
$rs-harita2: unquote('"\\e91f"');
$rs-kalp: unquote('"\\e920"');
$rs-konusma-path1: unquote('"\\e921"');
$rs-konusma-path2: unquote('"\\e922"');
$rs-konusma-path3: unquote('"\\e923"');
$rs-konusma-path4: unquote('"\\e924"');
$rs-menu: unquote('"\\e925"');
$rs-mouse: unquote('"\\e926"');
$rs-x: unquote('"\\e927"');
$rs-angle-down: unquote('"\\e900"');
$rs-angle-left: unquote('"\\e901"');
$rs-angle-right: unquote('"\\e902"');
$rs-angle-up: unquote('"\\e903"');
$rs-arrow: unquote('"\\e904"');
$rs-facebook-f: unquote('"\\e905"');
$rs-instagram: unquote('"\\e906"');
$rs-linkedin-in: unquote('"\\e907"');
$rs-linkedin: unquote('"\\e908"');
$rs-twitter: unquote('"\\e909"');
$rs-youtube: unquote('"\\e90a"');
$rs-var: unquote('"\\e900"');
$rs-arrow-circle-down: unquote('"\\e90c"');
$rs-yildiz-dolu: unquote('"\\e91b"');

